<section ng-controller="smartAlarmController as controller">
  <h1 class="output" ng-if="controller.name">Hello, {{controller.name}}</h1>
  <form class="form">
    <input class="form-input" type="text" name="name" placeholder="Enter your name" autofocus ng-model="name">
    <button class="form-button" ng-click="controller.convertToLowerCase(name)">Submit</button>
  </form>
</section>
