<!DOCTYPE html>
<html ng-app="smartAlarmApp">
<head>
  <meta charset="utf-8">
  <title>Smart Alarm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="controllers/smartAlarmController.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
